<section class="attributes-group">
    <ol class="attributes-list">
        {{#each attributes as |attr key|}}
        <li class="attribute flexrow" data-attribute="{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}">
            <input type="hidden" class="attribute-key" type="text"
                name="system.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.key" value="{{key}}"
                placeholder="{{localize " SIMPLE.AttributeKey"}}" />
            {{!-- Handle other input types. --}}
            <input class="attribute-label" type="text"
                name="system.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.label" value="{{attr.label}}"
                placeholder="{{localize " SIMPLE.AttributeLabel"}}" disabled="disabled" />

            <input class="attribute-value" type="text"
                name="system.attributes.{{#if attr.group}}{{attr.group}}.{{/if}}{{key}}.value" value="{{attr.value}}"
                data-dtype="{{attr.dtype}}" placeholder="{{localize " SIMPLE.AttributeValue"}}" />
        </li>
        {{/each}}
    </ol>
</section>